ul.ztree {
    margin-top: 10px;
    border: 1px solid #617775;
    width: 350px;
    height: 360px;
    overflow-y: scroll;
    overflow-x: auto;
    background-color: transparent;
}

#countriesTree {
    display: none;   
}

#incremental-options {
    display: none;
}

#standard-options {
    display: none;
}

.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

table.vsl-table {
    font-size: 12px
}

table.vsl-table td {
    padding: 5px;
}

#vsl-2-table {
    display: none;
}

#scenarios-table-panel {
    display: none;
}

#scenario-table th {
    font-weight: 700;
}

#scenario-table td {
}

.checkbox-visible {
    opacity: 100;
}
#region-selections-card {
    display: none;
}

#scenario-card {
    display: none;
}

#rollback-settings-card {
    display: none;
}

#mortality-valuation-card {
    display: none;
}

#execute-card {
    display: none;
}

.float-right {
    float: right;
}

.card-body {
    height: 575px;
    width: 390px;
}

.button-row {
    position: absolute;
    bottom: 20px;
    width: 90%;
}

.negative-rollback {
	margin-top: 10px;
}

.aq-rollback-image {
	width: 100%;
	margin-bottom: 20px;
}

#rollback-card-form-error {
	font-weight: bold;
	color: maroon;
	margin: -10px 0 10px 0;
}

#regions-card-form-error {
	font-weight: bold;
	color: maroon;
	margin: -10px 0 10px 0;
}

#scenario-card-form-error {
	font-weight: bold;
	color: maroon;
	margin: -10px 0 10px 0;
}

/* Navigation */


div#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div#navigation li {
  float: left;
}

div#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: medium;
}

/* Change the link color to #111 (black) on hover */
div#navigation li a:hover {
  background-color: #111;
}

.homepage-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-padding {
	padding: 10px 0 10px 0;	
	
}

.section-title {
	font-family: sans-serif;
	font-size: 1.2em;
	
}

.sup {
	vertical-align: super;
    font-size: smaller;
}

.citation {
	font-family: sans-serif;
	font-style: italic;
	font-size: .7em;
}

.scenario-submit-list {
	padding-left: 15px;
}