<configuration debug="false" scan="true"> 

  <!-- always a good activate OnConsoleStatusListener -->
  <!--  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />    -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
  </appender>
    
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/Users/bselack/Desktop/bencloud-command-line/logs/access.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>access.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
 
  <appender name="DATABASE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/Users/bselack/Desktop/bencloud-command-line/logs/database.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>startup.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="ch.qos.logback.core.rolling" additivity="false" level="error">
  </logger>
  
  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>
  
  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>
  
  <root level="OFF">
  	<appender-ref ref="FILE" />
  </root>
  
  <logger name="com.zaxxer.hikari" additivity="false" level="debug">
    <appender-ref ref="DATABASE" />
  </logger>
  
  <logger name="gov.epa.benmap.gbd" additivity="false" level="debug">
    <appender-ref ref="STDOUT" />
  </logger>
  
 
</configuration>