
/* Navigation */


div#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div#navigation li {
  float: left;
}

div#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: medium;
}

/* Change the link color to #111 (black) on hover */
div#navigation li a:hover {
  background-color: #111;
}


#results-datatable tfoot {
	display: table-row-group;
}

#pending-datatable tfoot {
	display: table-row-group;
}